table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
}
p {
    color: red;
    font-family: courier;
    font-size: 160%;
}

